body {
    font-family: monospace;
}

#header {
    font-size: 2.0rem;
    text-align: center;
}

#main-container {
    display: flex;
    margin: auto;
}

.next-figure-grid {
    margin-bottom: 30px;
}

.metric-value {
    margin-left: 10px;
}

#start-button {
    border-radius: 20px;
    height: 100px;
    font-size: 2rem;
    margin-top: 20px;
    border: 1px solid black
}

#pause-button {
    border-radius: 20px;
    height: 100px;
    font-size: 2rem;
    margin-top: 10px;
    border: 1px solid black
}

.activated-button {
    background-color: gray;
}

#pause-button:hover {
    background-color: lightgray;
}

#pause-button.activated-button:hover {
    background-color: gray;
}


#start-button:hover {
    background-color: lightgray;
}

#game-metrics {
    display: flex;
    flex-direction: column;
}

table,
td,
tr {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    width: 30px;
    height: 30px;
    padding: 0px;
}

td div {
    width: 30px;
    height: 30px;
    border: 2px solid white;
}

.game-grid {
    margin-right: 30px;
}

#game-body {
    display: flex;
    justify-content: space-around;
}

.metric-tag {
    font-size: 1.2rem;
}

.metric-value {
    font-size: 1.5rem;

}

.tagged {
    background-color: gray;
    border: 2px black solid;
    border-radius: 5px;
}

/* figure styles */
.cube {
    background-color: red;
}

.bar {
    background-color: blue;
}

.rboot {
    background-color: green;
}

.lboot {
    background-color: violet;
}

.tform {
    background-color: lightblue;
}

.lzed {
    background-color: yellow;
}

.rzed {
    background-color: orange;
}